:root {
    --tab-border-radius: 0.2em;
    --tab-color-selected: lightgray;
    --tab-color-unselected: darkgray;
}

table.repository-table td:first-child {
    text-wrap: nowrap;
}

div.tab-container {
    display: flex;
    flex-direction: row;
}

div.tab-container .tab {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    width: 150px;
    height: 45px;
    margin-left: 0.2em;
    margin-right: 0.2em;
    background-color: var(--tab-color-unselected);
    border-top-left-radius: var(--tab-border-radius);
    border-top-right-radius: var(--tab-border-radius);

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.tab-container .tab:first-child {
    margin-left: 0em;
    margin-right: 0.2em;
}

div.tab-container .selected-tab {
    background-color: var(--tab-color-selected);
}


div.tab-content-container .tab-content {
    display: none;
}

div#tab-content-resume.selected-tab-content {
    display: flex;
    justify-content: center;
    height: 900px;
    width: 100%;
}

div#tab-content-guerilla-checkers.selected-tab-content {
    display: flex;
    align-content: center;
}

div.tab-content-container .selected-tab-content {
    display: block;
    min-height: 100px;
    background-color: var(--tab-color-selected);
    padding: 1em;
    border-top-right-radius: var(--tab-border-radius);
    border-bottom-left-radius: var(--tab-border-radius);
    border-bottom-right-radius: var(--tab-border-radius);
    background: -moz-linear-gradient(to bottom, var(--tab-color-selected), #f2f2f2 10%);
    background: -webkit-linear-gradient(to bottom, var(--tab-color-selected), #f2f2f2 10%);
    background: -ms-linear-gradient(to bottom, var(--tab-color-selected), #f2f2f2 10%);
    background: -o-linear-gradient(to bottom, var(--tab-color-selected), #f2f2f2 10%);
    background: linear-gradient(to bottom, var(--tab-color-selected), #f2f2f2 10%);
}